@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* background-image: url("/assets/images/blob-scene-haikei.svg");
  background-repeat:repeat; */
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23faf7ff' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
}


@layer base {  
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
  h1 {
    @apply text-3xl font-bold leading-10 md:text-4xl md:leading-10 lg:text-4xl 2xl:text-5xl;
  }
  h2 {
    @apply text-2xl font-medium leading-8 md:text-3xl md:leading-9 lg:text-4xl 2xl:text-5xl;
  }
  h3 {
    @apply text-xl font-medium leading-7 md:text-xl md:leading-8 lg:leading-9;
  }
  h4 {
    @apply text-lg font-medium leading-6 md:text-xl md:leading-7 lg:text-2xl lg:leading-8 2xl:text-xl;
  }
  h5 {
    @apply text-base font-medium leading-6 md:leading-7 lg:text-xl lg:leading-8;
  }
  h6 {
    @apply text-xs font-bold leading-5 md:text-sm 2xl:text-base md:leading-6 lg:leading-7;
  }
}

@layer components {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply text-base duration-100 bg-[url('/assets/images/texture-bg.png')] ;
  }

  section {
    @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
  }

  img {
    @apply w-full h-full object-cover;
  }

  .navbar {
    @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[5vw] py-10 md:px-20  h-[80px] border-b bg-white;
  }
  
  .navbar-li-hover {
    @apply absolute left-0 bottom-0 w-0 h-[2px] bg-purple-900 group-hover:w-full transition-all duration-300
  }

  .navbar-li-text  {
    @apply hover:text-purple-900 transition-all
  }

  .h-cover {
    @apply min-h-[calc(100vh-80px)];
  }

  .btn-dark {
    @apply whitespace-nowrap bg-black text-white rounded-full py-3 px-6 text-xl capitalize hover:bg-opacity-80;
  }

  .btn-light {
    @apply btn-dark text-black;
  }
  .bg-theme-red-100 {
    @apply btn-dark text-black;
  }

  .input-box {
    @apply w-[100%] rounded-md p-4 pl-12 border placeholder:text-black;
  }

  input:disabled,
  input:disabled ~ .input-icon {
    @apply opacity-50;
  }

  .input-icon {
    @apply absolute left-4 top-1/2 -translate-y-1/2;
  }

  .link {
    @apply hover:text-black p-3 px-4 block opacity-75;
  }

  .hide {
    @apply opacity-0 pointer-events-none duration-100;
  }

  .show {
    @apply opacity-100 pointer-events-auto;
  }

  .sidebar-link {
    @apply flex gap-4 items-center py-5 hover:text-black;
  }

}
